@use "../abstracts/all" as abstracts;


.star{
    width: 40px;
    height: 40px;
    @for $index from 1 through 25{
        &:nth-child(#{$index}){
        position: absolute;
        top: abstracts.random-position();
        left: abstracts.random-position();
        rotate: abstracts.random-rotate();
        filter: abstracts.random-blur();
        }
        
    }
}
